@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Bitrix24 main frame */

.landing-main {
    z-index: 0;
}

/* Header and menu */

header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background: #434343;
    height: fit-content;
    position: fixed;
    left: 0;
    top: 0;
    margin-bottom: 80px;
    z-index: 3;
}

header ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

header ul a:hover {
    color: rgb(132, 215, 111);
}

.header {
    position: relative;
    z-index: 3;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 18px; 
    z-index: 3;
    font-weight: 700;
}

.header-menu li {
    position: relative;
    list-style-type: none;
    z-index: 3;
}

.header-menu li a {
    color: #fff;
    text-decoration: none;
}

ul img {
    width: 150px;
    height: 40px;
}

.header-tel {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-tel a {
    outline: none;
    text-decoration: none;
}

.callback-btn {
    min-width: 130px;
    padding: 5px 5px;
    outline: none;
    background-color: #376400;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.callback-btn:active,
.callback-btn:focus {
    outline: none;
}

.header-tel__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 16px;
    gap: 10px;
}

.header-tel__items a {
    color: #fff;
}

.header-menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    align-items: center;
}

.header-menu li:hover ul {
    display: block;
    position: absolute;
    background: #434343;
    top: 100%;
    padding: 40px 10px 20px;
    min-width: 250px;
    text-align: center;
    gap: 30px;
    left: -10px;
    border-radius: 10px;
    text-align: left;
    z-index: 3;
}

.header-menu li ul li {
    background-color: #434343;
    text-decoration: none;
    padding-bottom: 20px;
    cursor: pointer;
    z-index: 3;
}

.header-menu li ul li:last-child {
    padding-bottom: 10px;
}

/* Media queries */

@media (max-width: 1200px) {
    main {
       z-index: 0;
}

    .header {
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
    }

    ul img {
        height: 30px;
        width: 80px;
    }

    .header-tel {
        font-size: 12px;
        width: fit-content;
    }

    .header-menu {
        font-size: 12px;
    }

    .header-tel a {
        font-size: 14px;
    }

    .callback-btn {
        padding: 7px 13px;
        margin-right: 5px;
        font-size: 14px;
        font-weight: 400;
    }

    ul img {
        min-width: 120px;
        height: 40px;
    }
}

