@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.landing-main {
    z-index: 0;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background: #000;
    height: fit-content;
    position: fixed;
    left: 0;
    top: 0;
    margin-bottom: 80px;
    z-index: 3;
}

header ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul a {
    color: #000;
    text-decoration: none;
    transition: all .5s;
}

header ul a:hover {
    color: rgb(132, 215, 111);
}

.header {
    position: relative;
    z-index: 3;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 18px; 
    z-index: 3;
}

.header-menu li {
    position: relative;
    list-style-type: none;
    z-index: 3;
}

.header-menu li a {
    color: #fff;
    text-decoration: none;
}

ul img {
    width: 150px;
    height: 40px;
}

.header-tel {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-tel img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.header-tel a {
    font-size: 16px;
    color: #fff;
}

.burger-menu {
    display: none;
}

.header-menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    align-items: center;
}

.header-menu li:hover ul {
    display: block;
    position: absolute;
    background: #000;
    top: 100%;
    padding: 40px 10px 20px;
    min-width: 250px;
    text-align: center;
    gap: 30px;
    left: -10px;
    border-radius: 10px;
    text-align: left;
    z-index: 3;
}

.header-menu li ul li {
    background-color: #000;
    text-decoration: none;
    padding-bottom: 20px;
    cursor: pointer;
    z-index: 3;
}

.header-menu li ul li:last-child {
    padding-bottom: 10px;
}


@media (max-width: 768px) {
    main {
       z-index: 0;
}

    .header {
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
    }

    ul img {
        height: 30px;
        width: 80px;
    }

    .header-tel {
        font-size: 12px;
        width: fit-content;
    }

    .header-menu {
        display: none;
    }

    .burger-menu {
        display: block;
        height: 30px;
        width: 50px;
        cursor: pointer;
        color: #000;
        padding-top: 7px;
        margin-left: 40px;
    }

    .active-menu {
        height: 100vh;
        text-align: left;
        gap: 30px;
        padding: 20px 0;
        min-width: 100vw;
        display: block;
        position: absolute;
        flex-direction: column;
        top: 40px;
        background: #fff;
        z-index: 3;
    }

    .header-tel img {
        display: none;
    }

    .header-tel a {
        font-size: 14px;
    }

    .header-menu li ul {
        display: block;
        position: inherit;
        font-size: 12px;
        text-align: left;
        padding-top: 20px;
    }
}

