@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: #000;
    display: flex;
    height: fit-content;
}

header ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul a {
    color: #fff;
    text-decoration: none;
    transition: all .5s;
}

header ul a:hover {
    color: orange;
}

.header {
    position: relative;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.header li {
    position: relative;
    list-style-type: none;
    color: #fff;
}

.header li a {
    color: #fff;
    text-decoration: none;
}

.header li:active {
    color: red;
}

.disabled {
    display: none;
}

ul img {
    width: 150px;
    height: 50px;
}

.header-tel {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-tel img{
    height: 30px;
    width: 30px;
}

.header-tel a {
    font-size: 16px;
}

.burger-menu {
    display: none;
}

.header-menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.header-menu li:hover ul {
    display: block;
    position: absolute;
    background: #000;
    color: #fff;
    top: 100%;
    left: -40px;
    padding-top: 45px;
    width: 180px;
    text-align: center;
    gap: 30px;
}

.header-menu li ul li {
    text-decoration: none;
    padding-bottom: 20px;
    cursor: pointer;
}

.call-back {
    color: #fff;
    width: 100%;
    font-size: 12px;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 770px) {
    header {
        justify-content: space-between;
        align-items: center;
    }

    ul img {
        height: 20px;
        width: 60px;
    }

    .header-tel {
        width: 80px;
        font-size: 12px;
    }

    .header-tel img {
        width: 20px;
        height: 20px;
    }

    .header-menu {
        display: none;
    }

    .burger-menu {
        display: block;
        height: 30px;
        width: 30px;
        margin-left: 30px;
        cursor: pointer;
    }

    .active-menu {
        height: fit-content;
        text-align: center;
        gap: 30px;
        padding-bottom: 20px;
        width: 100vw;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 70px;
        background: #000;
    }

    .header-tel img {
        color: #fff;
        margin-left: 40px;
        height: 35px;
        width: 35px;
    }

    .header-tel a {
        display: none;
    }
}